
.container{
    height: 100%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding: 83px 0;
    }
}

@media screen and (max-width: 425px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 73px 0;
    }
}